.main-container {
    height: 600px;
    display: flex;
    background-color: #20b2aa;
    padding: 4%;
}

.left-container, .right-container {
    width: 50%;
}

.left-container {
    background-image: url('bali.jpeg');
    background-size: cover;
    height: 100%;
    margin-right: 5%;
}

.logo-container, .logo {
    height: 20%;
    top: 10%;
    width: 100%;
}

.logo-container {
    background-color: grey;
    opacity: 50%;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.compass {
    width: 40px;
    margin-left: 10px;
}

h1 {
    font-family: 'Allison', sans-serif;
    font-size: 40px;
    margin: 10px;
}

.credit {
    position: relative;
    top: 50%;
}
