.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #20b2aa;
}

.left-container, .right-container {
    width: 50%;
    margin: 2%;
}

.bali {
    width: 100%;
}

.compass {
    width: 10%;
}

h1 {
    font-family: 'Allison', sans-serif;
    color: white;
}