.main-container {
    height: 600px;
    display: flex;
    background-color: #20b2aa;
    padding: 4%;
}

.left-container, .right-container {
    width: 50%;
}

.left-container {
    position: relative;
    background-image: url('bali.jpeg');
    background-size: cover;
    height: 100%;
    margin-right: 5%;
}

.logo-container, .logo {
    position: absolute;
    height: 20%;
    top: 10%;
}

.logo-container {
    background-color: grey;
    opacity: 50%;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.compass {
    width: 40px;
    margin-left: 10px;
}

h1 {
    font-family: 'Allison', sans-serif;
    font-size: 40px;
    margin: 10px;
}

.credit {
    position: absolute;
    bottom: 10px;
    margin: 10px;
    overflow: auto;
    color: white;
}

.forms {
    display: flex;
    flex-direction: column;
}

.form-div {
    display: flex;
    flex-direction: row;
}

.form {
    align-items: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

label, 
input {
    margin: 10px;
}

input {
    border: solid;
    border-color: #E5E7EB;
    background-color: white;
    border: none;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

input:invalid {
    border: solid;
    border-color: red;
}

input:valid {
    border: solid;
    border-color: green;
}

input:focus {
    border: solid;
    border-color: purple;
}

input:empty {
    border: solid;
    border-color: black;
}

.form-test {
    display: flex;
    flex-direction: column;
}

button {
    background-color: tan;
    width: 120px;
    margin: 25px;
    padding: 10px;
    border: solid;
    border-radius: 5px 5px 5px 5px;
}

#password {
    border-color: red;
}

#password-confirm {
    border-color: red;
}

